body{

background-color:#6B8E23;
}
#date, #nuitee{
width:50%;
height: 50%;
margin-top: auto;
margin-bottom: auto;
}
.super{
width :70%;
background-color: white;
margin-left: auto;
margin-right: auto;
border : 1px solid black;
}
.corps{
width:95%;
height: 95%;
margin-right: auto;
margin-left: auto;
margin-top: 20px;
margin-bottom: 20px;
background-color: white;
border : 1px solid black;

}
.entete{

display: flex;
flex-direction: column;
align-items: center;

}
.phototexte{
margin-left: 20px;
margin-right: 20px;
display: flex;
justify-content: space-around;
margin-bottom: 20px;
}

.photo{
width :60%;
padding-right: 20px;
}

.formulaire{
	width : 100%;
	display: flex;
	justify-content: start;

}

.servicePreference, .listeservice, .listepreference{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}

.service, .preference,.region, .nuitee, .dateArrivee, .longueurEquipement, #arrivee{
	display: flex;
	justify-content: space-between;
	width: 1;
	align-items: center;
}

.listeregion{
	margin-top: auto;
	margin-bottom: auto;
}

.zone1 {
	display:flex;
	flex-direction: column;
	justify-content: space-between;
	width: 1;
	margin-right: 20px;
	margin-left: 20px;

}

.listeLongueurEquipement{
	margin-top: auto;
	margin-bottom: auto;
	margin-left: 20px;
	width: 200px;
}

.label{
margin-top: -10px;

}
.listeregion{
	width: 150px;
	height: 30px;
	margin-left: 20px;
	
}
#listeRegion{
	width: 150px;
	height: 30px;
	margin-left: 20px;
	text-align: center;
}
#date{
	width: 150px;
	height: 30px;
	margin-left: 20px;
}
#nuitee{
	width: 150px;
	height: 30px;
	margin-left: 20px;
}
.listeservice{
width: 200px;
margin-left: 110px;

}
.listepreference{
width: 200px;
margin-left: 97px;
}
.preference{
margin-top: 20px;

}
button{

 display: flex;
 justify-content: center;
 margin-top: 50px;
 margin-bottom: 20px;

}
