@charset "ISO-8859-1";

body {
	background-color: #6B8E23;
}

#date, #nuitee {
	width: 50%;
	height: 50%;
	margin-top: auto;
	margin-bottom: auto;
}

.super {
	width: 70%;
	background-color: white;
	margin-left: auto;
	margin-right: auto;
	border: 1px solid black;
}

.corps {
	width: 95%;
	height: 95%;
	margin-right: auto;
	margin-left: auto;
	margin-top: 20px;
	margin-bottom: 20px;
	background-color: white;
	border: 1px solid black;
}

.entete {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.phototexte {
	margin-left: 20px;
	margin-right: 20px;
	display: flex;
	justify-content: space-around;
	margin-bottom: 20px;
}

.photo {
	width: 60%;
	height: 20%;
	padding-right: 20px;
}

.formulaire {
	display: flex;
	justify-content: space-around;
	width: 100%;
}

.servicePreference, .listeservice, .listepreference {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	vertical-align: center;
}

.service, .preference, .region, .nuitee, .dateArrivee,
	.longueurEquipement, #arrivee {
	display: flex;
}

.listeregion {
	margin-top: auto;
	margin-bottom: auto;
}

.zone1, .zone2 {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	width: 50%;
	margin-right: 20px;
	margin-left: 20px;
}

.listeLongueurEquipement {
	margin-top: auto;
	margin-bottom: auto;
	margin-left: 20px;
	width: 200px;
}

.label {
	margin-top: -10px;
}

.listeregion {
	width: 150px;
	margin-left: 20px;
}

#date {
	width: 150px;
	margin-left: 57px;
}

#nuitee {
	width: 150px;
	margin-left: 29px;
}

.listeservice {
	width: 200px;
	margin-left: 110px;
}

.listepreference {
	width: 200px;
	margin-left: 97px;
}

.preference {
	margin-top: 20px;
}

form button {
	display: flex;
	justify-content: flex-start;
	margin-top: 50px;
	margin-bottom: 20px;
	margin-left: 150px;
}